.player {
  height: 55%;
}

.currently-playing {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  align-content: center;
  justify-content: center;
  padding-top: 5%;
  color: rgba(255, 255, 255, 0.75)
}

.currently-playing img {
  width: 100%;
}

.currently-playing p {
  display: block;
  -webkit-margin-before: 0.2em;
  -webkit-margin-after: 0.2em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.currently-playing p:nth-child(3)  {
  color: var(--white);
  font-size: 10px;
}
