@import url('https://fonts.googleapis.com/css?family=Poppins');

h3, p {
  font-weight: 100;
}

.main-container {
  height: 100vh;
  font-family: 'Poppins';
  background: linear-gradient(to right, #4088f2 0%, #6146b3 100%);
}

#bg-img {
  height: 100vh;
  width: 100%;
  opacity: 0.06;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  position: absolute;
}

.main-content {
  width: 70%;
  height: 75vh;
  margin: 0px 2.5%;
}

.fadeIn{
  animation-duration: 3.5s;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 22.5%;
  height: 75vh;
  margin-right: 2.5%;
  display: flex;
  flex-direction: column;
}
