@import url('https://fonts.googleapis.com/css?family=Poppins');

h3, p {
  font-weight: 100;
}

.main-container {
  height: 95vh;
  font-family: 'Poppins';
  background: linear-gradient(to -225deg, #4088f2 0%, #6146b3 100%);
}

.main-content {
  width: 70%;
  height: 80vh;
  margin: 0px 2.5%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 22.5%;
  height: 80vh;
  margin-right: 2.5%;
  display: flex;
  flex-direction: column;
}
