.filter-bar {
  margin: 20px;
  width: 80%;
  height: 30px;
  border-radius: 150px;
  border: 0px solid white;
  /* background-color: rgba(255, 255, 255, .3); */
  position: relative;
  z-index: 10000;
}

.filter-bar::placeholder {
  color: rgba(255,255,255, 0.6);
  font-size: 15px;
  padding-left: 20px;
  padding-top: 5px;
}

.modal-overlay-div {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .65);
}

.modal-content-div {
    position: fixed;
    width: 78%;
    height: 500px;
    margin-left: 9%;
    z-index: 9999;
    overflow: auto;
    text-align: left;
    padding: 4px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1)
}

.modal-content-div:after {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    margin-left: -.05em;
    content: '';
}

.modal-dialog-div {
    position: relative;
    outline: 0;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    max-width: auto;
    cursor: default;
    border-radius: 4px;
    margin: 15px;
    color: rgba(63, 63, 63, 0.9)
}

.modal-dialog-div img {
  width: 36px;
  border-radius: 100px;
}

.modal-dialog-div p {
  display: block;
  font-size: 12px;
  -webkit-margin-before: 0.2em;
  -webkit-margin-after: 0.2em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.display-filter-result {
  margin-bottom: 10px;
  /* border-bottom: 1px solid #1f0a64; */
}

.display-flex-col {
  margin-left: 5px;
  display: inline-block;
  /* padding-bottom: 2px; */

}
