@import url('https://fonts.googleapis.com/css?family=Poppins');

.footer {
  background-color: rgba(30, 29, 70);
  overflow: hidden;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  height: 5vh;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.now-playing {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  flex-wrap: wrap
}

.now-playing .currently-playing {
  display: flex;
  flex-direction: row !important;
}

.now-playing img {
  display: none;
}

.now-playing p {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, .6) !important;
  padding: 5px 10px;
  margin-bottom: 6px;
}

.now-playing p:nth-child(3) {
  display: none;
}

.audio-controls {
  width: 100px;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.audio-controls p {
  display: block;
  -webkit-margin-before: 0.2em;
  -webkit-margin-after: 0.2em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  padding: 0px 5px;
  margin-top: 10%
}

.volume-controls {
  margin-right: 10px;
  width: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.slidecontainer {
    width: 80px;
    margin-bottom: 5px;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 90%;
    height: 5px;
    background: #ffffff;
    outline: none;
    opacity: 0.65;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    background: #6146b3;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #6146b3;
    border-radius: 100px;
    cursor: pointer;
}

.copyright {
  display: flex;
  flex-direction: row;
  top: 0;
  align-content: center;
  align-items: center;
  margin-right: 10px;
}

.copyright p {
  font-size: 8px;
  color: rgba(255, 255, 255, .6);
  padding: 0px 5px;
  padding-top: 5px;
}

.copyright p:first-child {
  transform: scale(.7);
  padding-right: 0px
}
