@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
	font-family: 'Poppins'
}

.animation {
	height: 100vh;
	width: 100%;
	background-image: none;
	background-repeat: repeat;
	background-size: auto auto;
	background-repeat: no-repeat;
	background-size: 800% 400%;
	animation-name: bg_animation;
	animation-duration: 15s;
	animation-timing-function: linear;
	animation-delay: 0;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state: running;
}

.fadeIn{
	animation-duration: 1.5s;
}


@keyframes bg_animation {
	0% {
		background-color: #4facfe;
	}

	20% {
		background-color: #4088f2;
	}

	40% {
		background-color: #6146b3;
	}

	60% {
		background-color: #753a88;
	}

	80% {
		background-color: #cc2b5e;
	}


	100% {
		background-color: #f77889;
	}
}


div.center {
  height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
	margin-top: 15px;
  width: 500px;
  height: auto;
  font-family: 'Poppins';
  font-weight: bolder;
  font-size: 40px;
	color: white;
	margin-bottom: 40px;
} */

/* .description {
	margin-top: 0px;
	font-size: 12px;
} */

.center a {
	text-decoration: none;
}

.sign-up-button {
	background-color: rgba(255, 255, 255, 0.3);
	color: white;
	padding: 12px 100px;
	font-size: 1rem;
	border-radius: 100px;
	font-family: 'Poppins';
	border: none;
}

.auth-inputs {
	display: flex;
	flex-direction: column;
}

.input-field {
	width: 300px;
	padding: 2px 20px;
	border-radius: 100px;
	border: none;
	margin-bottom: 20px;
	background-color: rgba(255, 255, 255, 0.75)
}

.input-field::placeholder {
	font-family: 'Poppins';
	color: rgba(30, 29, 70, 0.8)
}

.auth-buttons {
	width: 340px;
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.auth-button:disabled {
	background: rgba(30, 29, 70, 0.5)
}

.auth-button {
	width: 160px;
	padding: 5px 20px;
	border-radius: 100px;
	border: none;
	color: white;
	font-weight: bolder;
	letter-spacing: 2px;
	font-size: 1rem;
	background-color: var(--nav-navy)
}

.form-box {
	padding: 40px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, .3);
}

.auth-background {
	background: linear-gradient(to right, #4088f2 0%, #6146b3 100%);
}

.big-logo {
	transform: scale(1.5);
	padding-bottom: 20px;
}
