@import url('https://fonts.googleapis.com/css?family=Poppins');

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgba(30, 29, 70);
    overflow: hidden;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    height: 5vh;
}

/* Style the links inside the navigation bar */
.topnav li {
    float: left;
    display: block;
    color: rgba(255,255,255, 0.6);
    text-align: center;
    padding: 5px 8px 5px 16px;
    text-decoration: none;
    font-size: 15px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
    font-size: 15px;
    border: none;
    outline: none;
    color: rgba(255,255,255, 0.6);
    padding: 5px 0px;
    background-color: inherit;
    font-family: inherit;
    margin-top: 2.5px;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content li {
    float: left;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content li:hover {
    background-color: #ddd;
    color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
}
